{% extends "base_header.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'core/table.css' %}">

<div class="container">
  <div class="row">
    <div class="col-6">
      <form method="post">
        <div class="form-group">
          <h2>Configure</h2>
          {% csrf_token %}
          <div class= "mb-2">Please select your track plan and advisor.</br>
            *If you do not know your track, please check with your advisor before continuing.</br>
            **If you do not know your advisor, please select {find out correct person}.</br>
          </div>
          <table>
            {{ form.as_table }}
          </table>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
        <a class="btn btn-secondary" href="/" role="button">Back</a>
      </form>
    </div>
  </div>
</div>

{% endblock %}
