{% extends "base_header.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'core/table.css' %}">
<script src="{% static 'core/tooltip.js' %}" ></script>

<form action="/faculty/student_term/{{tp.pk}}/" method="post">
  <div class="container">
    <div class="container, form-group">
      {% csrf_token %}
      <div class="row">
        <h4 class="col-12">Track: {{track}}</h4>
        <div class="col-12">
          <h4>Term: {{tp.term.label}}</h4>
          {% if tp.approval != "" and tp.approval != None %}
            <h5>Term Plan Status: {{tp.approval}}</h5>
          {% endif %}
          <h5>Student: {{tp.student.email}}</h5>
          <h5>Advisor: {{tp.student.advisor.name}}
            <a class="small" href="/faculty/configure/{{tp.student.pk}}">[Change]</a>
          </h5>
        </div>
      </div>
    </div>
    <table class=" table-sm ">
      <thead class="border-bottom"> <tr>
        <th>Course</th>
        <th>Category
          <i class="material-icons" style="font-size:16px;color:lightskyblue" data-toggle="tooltip" title="The category the course counts towards in the student's track plan.">help</i></th>
        <th>Completion Status</th>
      </tr></thead>
      {% for course_field, category_field, status_field in form.get_course_fields %}
        <tr>
          <td> {{ course_field }} </td>
          {% if category_field != None %} <td> {{ category_field }} </td> {% endif %}
          <td> {{ status_field }} </td>
        </tr>
      {% endfor %}
    </table>
    <button class="btn btn-primary mt-3" type="submit" name="Save">Save</button>
    <button class="btn btn-primary mt-3" type="submit" name="ApproveButton">Approve</button>
    <button class="btn btn-danger mt-3" type="submit" name="DenyButton">Deny</button>
    <a class="btn btn-secondary mt-3" href="/faculty/student_overview/{{tp.student.pk}}" role="button">Back</a>
  </div>
</form>
<script type="text/javascript" src = "{% static 'core/dynamic_list.js' %}"></script>
{% endblock %}
