{% extends "base_header.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'core/table.css' %}">
<script src="{% static 'core/tooltip.js' %}" ></script>

{% if user.is_authenticated %}
<div class="container">
  <div class="row mb-4 ">
    <div class="col-6">
      <h4>Your Term Plans</h4>
      <table>
      {% for tp in termPlans|dictsort:"id" %}
        <tr>
          <td>&#8226;</td>
          <td>
            <a href="{% url 'student_term' termPlan_id=tp.pk %}">{{tp.term.label}}</a> 
          </td>
          <td class="
            {% if tp.approval == "Approved"  %}alert-success{% endif %}
            {% if tp.approval == "Submitted" %}alert-warning{% endif %}
            {% if tp.approval == "Temp Approved" %}alert-primary{% endif %}
            {% if tp.approval == "" %}{% endif %}"
            >{{tp.approval}}
          </td>
          <td>
            {% for termPlanDict in termPlanDicts %}
              {% if termPlanDict|get_value:'termPlan' == tp %}
                Hours: {{termPlanDict|get_value:'hours'}}
              {% endif %}
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
    <div class="col-6">
      <h4>Create a Term Plan</h4>
      <form action="/term/new" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="term_id">Term</label>
          <select class="form-control" name="term_id" id="term_selection">
              <option value="" selected="selected">---SELECT---</option>
              {% for t in terms %}
               <option value="{{t.id}}">{{t.label}}</option>
              {% endfor %}
          </select>
        </div>
        <button class="btn btn-primary" type="submit" name="Start">Start</button>
      </form>
    </div>
  </div>
  {% if termPlans %}
  <table class=" table table-sm table-bordered col-12">
    <thead><tr>
      <th>Course</th>
      <th>Term</th>
      <th>Completion Status</th>
    </tr></thead>
    {% for categoryDict in categoryDicts%}
    <tr><td><h5>{{categoryDict|get_value:'category'}} ({{categoryDict|get_value:'hours'}} hr approved)</h5></td></tr>
      {% for termPlan in termPlans %}
        {% for plannedWork in termPlan.plannedWorks.all %}
          {% if categoryDict|get_value:'category' == plannedWork.category %}
            <tr class =
              {% if termPlan.approval == "Approved"  %}"table-success{% endif %}
              {% if termPlan.approval == "Submitted" %}"table-warning{% endif %}
              {% if termPlan.approval == "Temp Approved" %}"table-primary{% endif %}
              {% if termPlan.approval == "" %}"{% endif %}">
              <td scope="row">{{plannedWork.course.label}}</td>
              <td scope="row">{{plannedWork.termPlan.term.label}}</td>
              {% if plannedWork.completionStatus != None %}
                <td scope="row">{{plannedWork.completionStatus}}</td>
              {% else %}
                <td/>
              {% endif %}
            </tr>
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}

  
  </table>
  {% endif %}
  <div class='col-12'>
    <p>Thank you for your help testing this site.  If you have any questions, comments, or problems, please email them to <a href='mailto:jmwhorton@uams.edu'>jmwhorton@uams.edu</a>.</p>
  </div>
</div>
{% else %}
<div class="container">
  <div class="jumbotron text-center">
    <h1 class="display-4">Plan of Work Submission</h1>
    <p class="lead">A form for submitting student plan of work documents.</p>
    <hr class="my-4">
    <p>Please log in with your UAMS credentials.</p>
    <a class="btn btn-primary btn-lg" href="/accounts/login/">Login</a>
    <a class="btn btn-secondary btn-lg" href="/accounts/register/">Register</a>
  </div>
</div>
{% endif %}
{% endblock %}
