{% extends "base_header.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'core/table.css' %}">
<script src="{% static 'core/tooltip.js' %}" ></script>
<script src="{% static 'core/captcha.js' %}" ></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% if user.is_authenticated %}
<div class="container">
  <div class="row mb-4 ">
    <div class="col-6">
      <h4>Create a Term Plan</h4>
      <form action="/term/new" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="term_id">To begin, select a Term below and click Start.</label>
          <select class="form-control" name="term_id" id="term_selection">
              <option value="" selected="selected">---SELECT---</option>
              {% for t in terms|dictsortreversed:"id"  %}
               <option value="{{t.id}}">{{t.label}}</option>
              {% endfor %}
          </select>
        </div>
        <button class="btn btn-primary" type="submit" name="Start">Start</button>
      </form>
    </div>
    <div class="col-6">
      <h4>Your Term Plans</h4>
      <table>
      {% for tp in termPlans|dictsort:"id" %}
        <tr>
          <td>&#8226;</td>
          <td>
            <a href="{% url 'student_term' termPlan_id=tp.pk %}">{{tp.term.label}}</a> 
          </td>
          <td class="
            {% if tp.approval == "Approved"  %}alert-success{% endif %}
            {% if tp.approval == "Submitted" %}alert-warning{% endif %}
            {% if tp.approval == "Temp Approved" %}alert-primary{% endif %}
            {% if tp.approval == "Denied" %}alert-danger{% endif %}
            {% if tp.approval == "" %}{% endif %}"
            >{{tp.approval}}
          </td>
          <td>
            {% for termPlanDict in termPlanDicts %}
              {% if termPlanDict|get_value:'termPlan' == tp %}
                Hours: {{termPlanDict|get_value:'hours'}}
              {% endif %}
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  </div>

  <div>
    <h5>Total hours approved: {{totalApprovedHours}} out of {{track.requiredHours}} hours required.</h5>
  </div>

  {% if termPlans %}
  <table class=" table table-sm table-bordered col-12">
    <thead><tr>
      <th>Course</th>
      <th>Term</th>
      <th>Completion Status</th>
    </tr></thead>

    {% if showNoCategory %}
    <tr><td><h5 style="color:red">No category assigned.  Please consult your advisor.</h5></td></tr>
      {% for termPlan in termPlans %}
        {% for plannedWork in termPlan.plannedWorks.all %}
          {% if plannedWork.category == None %}
            <tr class =
              {% if termPlan.approval == "Approved"  %}"table-success{% endif %}
              {% if termPlan.approval == "Submitted" %}"table-warning{% endif %}
              {% if termPlan.approval == "Temp Approved" %}"table-primary{% endif %}
              {% if termPlan.approval == "Denied" %}"alert-danger{% endif %}
              {% if termPlan.approval == "" %}"{% endif %}">
              <td scope="row">{{plannedWork.course.label}}</td>
              <td scope="row">{{plannedWork.termPlan.term.label}}</td>
              {% if plannedWork.completionStatus != None %}
                <td scope="row">{{plannedWork.completionStatus}}</td>
              {% else %}
                <td/>
              {% endif %}
            </tr>
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endif %}

    {% for categoryDict in categoryDicts%}
      <tr><td><h5>{{categoryDict|get_value:'category'}} ({{categoryDict|get_value:'hours'}} hrs approved, {{categoryDict|get_value:'requiredHours'}} hrs required)</h5></td></tr>
      {% for termPlan in termPlans %}
        {% for plannedWork in termPlan.plannedWorks.all %}
          {% if categoryDict|get_value:'category' == plannedWork.category %}
            <tr class =
              {% if termPlan.approval == "Approved"  %}"table-success{% endif %}
              {% if termPlan.approval == "Submitted" %}"table-warning{% endif %}
              {% if termPlan.approval == "Temp Approved" %}"table-primary{% endif %}
              {% if termPlan.approval == "Denied" %}"alert-danger{% endif %}
              {% if termPlan.approval == "" %}"{% endif %}">
              <td scope="row">{{plannedWork.course.label}}</td>
              <td scope="row">{{plannedWork.termPlan.term.label}}</td>
              {% if plannedWork.completionStatus != None %}
                <td scope="row">{{plannedWork.completionStatus}}</td>
              {% else %}
                <td/>
              {% endif %}
            </tr>
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}

  </table>

  {% endif %}
</div>
{% else %}
<div class="container">
  <div class="jumbotron text-center">
    <h1 class="display-4">Plan of Work Submission</h1>
    <p class="lead">A form for submitting student plan of work documents.</p>
    <hr class="my-4">
    <p>Please enter a valid UAMS email address to login.</p>
    <form id='login-form' method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="form-group">
        <input class="form-control" type="email" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="255" required="" id="id_username">
      </div>
      <button class="g-recaptcha btn btn-primary" data-sitekey="{{sitekey}}"  data-callback='onSubmit'>Next</button>
    </form>
  </div>
</div>
{% endif %}
{% endblock %}
