{% extends "base_header.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'core/table.css' %}">
<script src="{% static 'core/tooltip.js' %}" ></script>

<div class="container">
  <div class="row mb-4">
    <div class="col-6">
      <h4>Student: {{student.email}}</h4>
      <h4>Track: {{student.track}}</h4>
      <h4>Term Plans</h4>
      <table>
      {% for tp in termPlans%}
        <tr>
          <td>&#8226;</td>
          <td>
            <a href="{% url 'faculty_term' termPlan_id=tp.pk %}">{{tp.term.label}}</a> 
          </td>
          <td class=
            {% if tp.approval == "Approved"  %}"alert-success"{% endif %}
            {% if tp.approval == "Submitted" %}"alert-warning"{% endif %}
            {% if tp.approval == "Temp Approved" %}"alert-primary"{% endif %}
            {% if tp.approval == "Denied" %}"alert-danger"{% endif %}
            {% if tp.approval == "" %}""{% endif %} 
          >
           {{tp.approval}}
           {% if tp.approval == "Submitted" and not tp.first_approval %}
             <td> - Awaiting advisor approval</td>
           {% endif %}
           {% if tp.approval == "Submitted" and tp.first_approval %}
             <td>- Awaiting committee approval</td>
           {% endif %}
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
    <div class="col-6">
      <form action="/faculty/approve_all/{{ student.pk }}/" method="post">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit" name="ApproveAll">Approve All Submissions</button>
      </form>
    </div>
  </div>
  <table class=" table table-sm table-bordered col-12">
    <thead><tr>
      <th>Course</th>
      <th>Term</th>
      <th>Completion Status</th>
    </tr></thead>
    {% for categoryDict in categoryDicts%}
    <tr><td><h5>{{categoryDict|get_value:'category'}} ({{categoryDict|get_value:'hours'}} hrs approved, {{categoryDict|get_value:'requiredHours'}} hrs required)</h5></td></tr>
      {% for termPlan in termPlans %}
        {% for plannedWork in termPlan.plannedWorks.all %}
          {% if categoryDict|get_value:'category' == plannedWork.category %}
            <tr class =
              {% if termPlan.approval == "Approved"  %}"table-success{% endif %}
              {% if termPlan.approval == "Submitted" %}"table-warning{% endif %}
              {% if termPlan.approval == "Temp Approved" %}"table-primary{% endif %}
              {% if termPlan.approval == "Denied" %}"table-danger{% endif %}
              {% if termPlan.approval == "" %}"{% endif %}">
              <td scope="row">{{plannedWork.course.label}}</td>
              <td scope="row">{{plannedWork.termPlan.term.label}}</td>
              {% if plannedWork.completionStatus != None %}
                <td scope="row">{{plannedWork.completionStatus}}</td>
              {% else %}
                <td/>
              {% endif %}
            </tr>
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}

  
  </table>
</div>
{% endblock %}
