{% extends "base_header.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'core/table.css' %}">
<script src="{% static 'core/tooltip.js' %}" ></script>

<form action="/student/term/{{tp.pk}}/" method="post">
  <div class="container">
    <div class="container, form-group">
        {% csrf_token %}
      <div class="row">
        <h4 class="col-12">Track: {{track.label}} starting {{track.startTerm.label}}</h4>
        <div class="col-12">
          <h4>Term: {{tp.term.label}}</h4>
          <h5>Student: {{tp.student.email}}</h5>
          <h5>Advisor: {{tp.student.advisor.name}}
            <a class="small" href="/configure">[Change]</a>
          </h5>
          {% if form.hasOfferings %}
            <p>Note: If the course listed in your track plan (left) is not currently offered, click the checkbox and select a replacement offering (right).</p>
          {% endif %}
        </div>
      </div>
    </div>
    <table class=" table-sm ">
      {% if form.hasOfferings %}
        <thead class="border-bottom"> <tr>
            <th >Course
            <i class="material-icons" style="font-size:16px;color:lightskyblue" data-toggle="tooltip" title="This is the course listed in your track plan.">help</i></th>
          <th/>
          <th>Replacement Offering
            <i class="material-icons" style="font-size:16px;color:lightskyblue" data-toggle="tooltip" title="This course replaces the course in your track plan if the original course is not offered.">help</i></th>
        </tr></thead>
      {% endif %}
      {% for category in categories %}
        <tr><td><h5>{{category.label}}</h5></td></tr>
        {% for course_field, checkbox, offering_field in form.get_course_fields %}
          {% if category.label|stringformat:"s" in course_field.name %}
            <tr>
              <td> {{ course_field }}</td>
              {% if checkbox != None %}
                <td> {{ checkbox }} </td>
                <td> {{ offering_field }} </td>
              {% endif %}
            </tr>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </table>
  <button class="btn btn-primary mt-3" type="submit" name="Save">Save</button>
  {% if tp.approval == "" %}
    <button class="btn btn-primary mt-3" type="submit" name="SaveSubmit">Save and Submit</button>
  {% else %} 
    <button class="btn btn-primary mt-3 " type="button" data-toggle="modal" data-target="#staticBackdrop">Save and Submit</button>
  
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Are you sure?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            This Term Plan has already been submitted or approved.  Are you sure you would like to resubmit?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" name="SaveSubmit"  class="btn btn-primary">Yes, Submit</button>
          </div>
        </div>
      </div>
    </div> 
  {% endif %}
  <a class="btn btn-secondary mt-3" href="/" role="button">Back</a>
  </div>
</form>
<script type="text/javascript" src = "{% static 'core/dynamic_list.js' %}"></script>
{% endblock %}
